---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-11 col-md-10 mx-auto">
          <div class="page-heading">
            <img src="{{ "/img/profile.png" | relative_url }}" alt="Portrait" class="site-avatar">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-11 col-md-10 mx-auto">

        {{ content }}
        <p>TEST : I am a young postdoc at the Observatoire de la Côte d'Azur in Nice (France) working among the ISSP ERC project (Ref, lien ?).</p>
        <p>My main scientific interest lies in the understanding of planet formation aroung Sun-like stars, see (ref to page) for the complete description of my work.</p>
        <h2>Latest publications</h2>
        <p>Here is a list of recent publications to which I contributed significantly</p>
        <!-- Home Post List -->
        {% for post in site.posts limit : 2 %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <p class="post-meta">Published by
            {{ post.author }} ({{ post.date | date: '%Y' }}) in
            {{post.review}} &middot; {% include read_time.html content=post.content %}            
          </p>
        </article>

        <hr>

        {% endfor %}
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Articles &rarr;</a>
        </div>

        <p>Trying to put some text bellow the sample of articles to see if it is ok to continue </p>
        <h2>Current position </h2>
        <p>Here would be a brief description of the current position occupied. Describing the overall context of the project, the importance of the position, the milestones expected and the ones already reached.</p>
      </div>
    </div>
  </div>
