---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-11 col-md-11 mx-auto">
          <div class="page-heading">
            <img src="{{ "/img/profile.png" | relative_url }}" alt="Portrait" class="site-avatar">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-10 mx-auto">

        {{ content }}
        
        <h2 class="section-heading">Current position </h2>
        <p>
          My current postdoctoral position has taken me to the Lagrange laboratory of the Observatoire de la Côte d'Azur (OCA) in Nice, France. There, I am working for the Interferometric Survey of Stellar Parameters (<a href="https://www.oca.eu/fr/issp-welcome">ISSP</a>), funded by the European Research Council (ERC) under the European Union’s Horizon 2020 research and innovation programme (Grant agreement No. 101019653). <br/>
          Among this project, I combine two main responsibilities. First, I have been recruited to characterise and optimise the SPICA-FT fringe-tracker operated by the CHARA interferometric array in mount Wilson observatory, California. Second, I lead the science program exploiting the SPICA interferometric beam combiner focused on the exoplanet host stars.
          Beyond these two aspects, I also contribute to the exploitation of SPICA through monthly remote observations performed from the plateau de Calern observatory, and supervise the internship of an undergraduate student. I also maintain collaborations with researchers from all around the world, including -but not limited to- IPAG (France), University of Köln (Germany), GSU (USA) and UNAM (Mexico). <br/>
          My contract started on March, 2025 and ends on August, 2026. I am currently looking for my next position, and will be happy to discuss any possibility related to my main topics of interest, detailed in <a href="{{ site.baseurl }}/mywork/general/"> the dedicated sections</a>.
        </p>

        <hr>

        <h2 class="section-heading">Who I am</h2>
        <p>
          As a passionate young researcher, my curiosity is probably what defines me the best, along with my contemplative nature. I am very curious of Nature of course, but also of cultures and people that differ from what I am used to. I was born and raised in France, so anything departing from the Western European culture really excites me. 
          The several trips I have the chance to do during my career are always an occasion to visit new places, and they are responsible for some of my dearest memories. From Canada to Chile, through Hungary or the US, I cherish the exceptional opportunities brought by what I consider myself lucky enough to call my job.
          I am also a great sports afficionado, particularly due to my competitive nature, which I always practice in a friendly environment. Particularly, I played handball for more than 15 years, and I follow american football as a true fan (Who dat !). On my free time, I enjoy any activity that allows my mind to rest,
          whether it is through video games, free-diving or music, as I play the guitar and the cajon. <br/>
          Overall, I consider myself a quiet strength, as I am capable of staying calm in very stressfull situations, while delivering to a high level of performance, whether it is on a sports field or in research.
        </p>

        <hr>
        <h2 class="section-heading">What I do</h2>
        <p>Bellow are the most recent publications to which I contributed. The complete list of publications where I am listed as coauthor can be found on <a href="https://orcid.org/0000-0002-5762-0249">my ORCID profile</a>. The detailed description of my work can be found in different <a href="{{ site.baseurl }}/mywork/general/">sections</a> of this website.</p>
        <!-- Home Post List -->
        {% for post in site.posts limit : 2 %}
        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h3 class="post-title">{{ post.title }}</h3>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <p class="post-meta">Published by
            {{ post.author }} ({{ post.date | date: '%Y' }}) in
            {{post.review}} &middot; {% include read_time.html content=post.content %}            
          </p>
        </article>

        {% endfor %}
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Articles &rarr;</a>
        </div>

        <hr>
        
        
      </div>
    </div>
  </div>
